hidden

<div class="d-flex justify-content-between align-items-center">
  <h1>Tweets</h1>

 
</div>
<br>
<br>
<br>
<br>
<br>
<br>



<div class="md:flex md:items-center md:justify-between">
  <div class="flex-1 min-w-0">
    <h2 class="text-xl font-bold leading-7 text-gray-900 sm:text-3xl sm:truncate">
      Tweets
    </h2>
  </div>
  <div class="mt-4 flex md:mt-0 md:ml-4">
   
    <% if current_user.twitter_accounts.none? %>
        <%= link_to "Connect your Twitter Account", "/auth/twitter", class: "btn btn-primary" %>
         <button type="button" class="inline-flex items-center px-4 py-2 border border-gray-300 rounded-md shadow-sm text-sm font-medium text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
      Edit
    </button>
    <% end %>

    <% if current_user.twitter_accounts.any? %>

    <div class="flex items-center">
        <div class="flex-shrink-0">
          <button type="button" class="relative inline-flex items-center px-4 py-2 border border-transparent text-sm font-medium rounded-md text-white bg-blue-500 shadow-sm hover:bg-blue-600 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">
            <!-- Heroicon name: solid/plus -->
            <svg class="-ml-1 mr-2 h-5 w-5" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
              <path fill-rule="evenodd" d="M10 3a1 1 0 011 1v5h5a1 1 0 110 2h-5v5a1 1 0 11-2 0v-5H4a1 1 0 110-2h5V4a1 1 0 011-1z" clip-rule="evenodd" />
            </svg>
          <%= link_to "Schedule a Tweet", new_tweet_path, class: "btn btn-primary" %>
          </button>
        </div>

      <% end %>

  </div>

</div>
<br>
<br>
<br>
<br>
<br>
<br>

</div>
</div>

<%= render @tweets %>
